body {
  background: #bbb;
}

.window-2-640-476 {
	background-color: transparent;
	background-image: url('../images/userinterface/Window_2_640_476.png');
}
.InputText {
	width: 100%;
	height: 94px;
	background-color: transparent;
	background-image: url('../images/userinterface/Input.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding: 30px 10%;
}
.InputText > input {
	background: transparent;
	font-size: 18px;
	width: 100%;
	outline: none;
	border: none;
}
.DialogBox {
	position: relative;
	box-sizing: border-box;
	width: 640px;
	height: 476px;
	padding: 30px 50px;
	color: DeepSkyBlue ;
	text-shadow: 1px 1px black;
	background-size: 100% 100%;
}

.DialogBox-header {
	position: absolute;
	width: 50%;
	left: 25%;
	text-align: center;
	
	top: -20px;
	color: gold;
	text-shadow: 1px 1px 1px black;
	
	background: -webkit-linear-gradient(top, transparent 30%, rgba(0,0,7,0.5) 59%, transparent 90%);
}

.inventoryitem {
  position: relative;
}

.inventoryitem > .badge {
  position: absolute;
  right: -5px;
  bottom: -5px;
}

/* Sprite Sheet Inventory */
.aambeeld, .appelboomzaad, .appelcider, .bijbel, .bijenwas, .blaasbalg, .boek, .bot, .brood, .diamanten, .druiven, .goud, .hooi, .hout, .houtskool, .ijzer, .klei, .kruiden, .metselstenen, .planken, .spijkers, .steen, .touw{
  display: inline-block;
  background: url(../images/inventory/sprites.png) no-repeat;
}

.aambeeld{
	background-position: -1px 0;
	width: 48px;
	height: 48px;
}

.appelboomzaad{
	background-position: -51px 0;
	width: 48px;
	height: 48px;
}

.appelcider{
	background-position: -100px 0;
	width: 48px;
	height: 48px;
}

.bijbel{
	background-position: -151px 0;
	width: 48px;
	height: 48px;
}

.bijenwas{
	background-position: -201px 0;
	width: 48px;
	height: 48px;
}

.blaasbalg{
	background-position: -250px 0;
	width: 48px;
	height: 48px;
}

.boek{
	background-position: -300px 0;
	width: 48px;
	height: 48px;
}

.bot{
	background-position: -351px 0;
	width: 48px;
	height: 48px;
}

.brood{
	background-position: -400px 0;
	width: 48px;
	height: 48px;
}

.diamanten{
	background-position: -451px -1px ;
	width: 48px;
	height: 48px;
}

.druiven{
	background-position: -499px 0;
	width: 48px;
	height: 48px;
}

.goud{
	background-position: -549px -1px ;
	width: 48px;
	height: 48px;
}

.hooi{
	background-position: -1px -49px ;
	width: 48px;
	height: 48px;
}

.hout{
	background-position: -50px -50px ;
	width: 48px;
	height: 48px;
}

.houtskool{
	background-position: -101px -50px ;
	width: 48px;
	height: 48px;
}

.ijzer{
	background-position: -149px -48px ;
	width: 48px;
	height: 48px;
}

.klei{
	background-position: -200px -50px ;
	width: 48px;
	height: 48px;
}

.kruiden{
	background-position: -251px -50px ;
	width: 48px;
	height: 48px;
}

.metselstenen{
	background-position: -301px -51px ;
	width: 48px;
	height: 48px;
}

.planken{
	background-position: -350px -48px ;
	width: 48px;
	height: 48px;
}

.spijkers{
	background-position: -399px -49px ;
	width: 48px;
	height: 48px;
}

.steen{
	background-position: -451px -49px ;
	width: 48px;
	height: 48px;
}

.touw{
	background-position: -501px -51px ;
	width: 48px;
	height: 48px;
}
