<% include _html/head %>

<h1>Game test</h1>
<div id="game-core">
    <h1>The Game has been started.</h1>
</div>
<div id="game-login">
    <h1>Login to start the game</h1>
    <button onclick="login()">Login Demo Player</button>
    <div class="alert alert-info" role="alert" id="message"></div>
</div>
<style>
    body {
        overflow-x: hidden;
    }
    
    #mainCanvas {
        box-sizing: border-box;
        background: #6495ED;
    }
    #debugCanvas {
        border: 2px solid gold;
    }
</style>
<canvas id="mainCanvas" width="700" height="500"></canvas>
<canvas id="debugCanvas" width="700" height="500" style="float: right;"></canvas>

<% include _html/scripts %>
<% include _html/end %>