<!DOCTYPE HTML>
<html>
<head>
	<meta charset = "utf-8">
	<link rel="shortcut icon" href="/favicon.ico">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<title>React Node Test</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous">

	<link rel="stylesheet" href="/css/darkage.css">
</head>
<body>
	<div class="container">
		<% include ./partials/breadcrumb %>

		<div class="alert alert-info" id="message" role="alert">...</div>

	  <h1>Header from html file</h1>
	  <div id="app"></div>
	  
	  <div id="settings"></div>
	  <div id="gebouwen"></div>
	  <div id="inventory"></div>

	</div>

	<script src="/darkage.min.js"></script>
</body>
</html>
